$first_color: #0087c9;
$second_color: #ffb168;

.ticket {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    &-list{
        display: flex;
        flex-direction: column;
    }
    

    &__button {
        background-color: $second_color;
        color: #fff;
        border: none;
        padding: 10px 0;
        cursor: pointer;
    }
}